.trem-reservation{
  width: 100%;
  height: auto;

  margin: auto;

  display: flex;
  justify-content: center;
}

  .trem-reservation .reservation1 .envelope{
    width: 100%;
    height: auto;

    margin: auto;

    display: flex;
    flex-flow: column;

    text-align: center;
  }

     .trem-reservation .reservation1 .envelope .people-form{
       width: 100%;
       height: auto;

       margin: auto;

       display: grid;
       grid-template: auto / 250px;
       justify-content: center;
       justify-items: center;
     }

         .trem-reservation .reservation1 .envelope .people-form .form-element{
           width: 250px;
           height: auto;

           position: relative;

           display: flex;
           align-items: center;
           justify-content: flex-end;
         }

             .trem-reservation .reservation1 .envelope .people-form .form-element span{
               height: inherit;

               position: absolute;
               right: 5px;

               margin:auto;

               pointer-events: none;
             }

         .trem-reservation .reservation1 .envelope .people-form span{
           height: auto;

           justify-self: start;
            

         }

         .trem-reservation .reservation1 .envelope .people-form label{
           height: auto;

           justify-self: start;

           margin-top: 15px;
         }

         .trem-reservation .reservation1 .envelope .people-form canvas{
           width: auto;
           height: auto;

           display: flex;

           margin: 15px auto;
         }

         .trem-reservation .reservation1 .envelope .people-form .c0ffee-button{
           width: auto;
           height: auto;

           display: flex;

           margin: 30px auto auto auto;

           padding: 0 20px;

           border: 1px solid black;

           cursor: pointer;
           text-decoration: none;
         }

             .trem-reservation .reservation1 .envelope .people-form .c0ffee-button:hover{
               color: red;
             }


        

