.reservation[data-v-1f361494] .info-form span input{
  max-width: 30px;
  border: 1px solid #1f1a14 !important;
  border-radius: 0;
  max-height: 30px;
  margin-right: 5px !important;
}

.reservation[data-v-1f361494] .info-form span{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation[data-v-1f361494]{
  --trem-main-color: #c0ffee;
}

.reservation[data-v-1f361494]{
  all: initial;  
}

.reservation[data-v-1f361494] * :not(input){
  all: unset;  

  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: : inherit !important;
}

.reservation[data-v-1f361494]  input:focus,
.reservation[data-v-1f361494]  input:active,
.reservation[data-v-1f361494]  input:viseted,
.reservation[data-v-1f361494]  input:hover {
  all: unset;  
}

.reservation[data-v-1f361494]  input {
  background: unset;  
  margin: unset;
  padding: unset;
  color:unset;
  outline: unset;

  width: 225px !important;
  height: 35px !important;
  margin: 0 !important;
  padding: 0 0 0 0.5em !important;

  cursor: pointer !important;
  text-indent: 1px !important;
  border: none !important;

  color: #1e1914 !important;
  background: transparent !important;
}


.reservation h4[data-v-1f361494] {
  font-family: inherit  !important;
  font-size: inherit !important;
  font-weight: : inherit !important;
 
}

.reservation h2[data-v-1f361494] {
  font-family: inherit  !important;
  font-size: x-large !important;
  font-weight: : bold !important;
 
}


/*.reservation[data-v-1f361494]::before,
.reservation[data-v-1f361494]::after,
.reservation[data-v-1f361494] *::before,
.reservation[data-v-1f361494] *::after {
  all: unset;
}
*/


.toast-container
{
    font-family: inherit;

    position: fixed!important;
    top: 30%!important;
}.toast-container .toast
{
    font-size: 24px;;

    text-align: center;

    border-radius: 5px;
    background-color: rgba(30,25,20,.7)!important;
}.toast-container .toast:before
{
    font-family: trem-reservation;

    margin: auto .5em;

    content: '\F10d';
}

input[data-v-1f361494][type="time"],
input[data-v-1f361494][type="text"],
input[data-v-1f361494][type="email"]
{
    width: 225px !important;
    height: 35px !important;
    margin: 0 !important;
    padding: 0 0 0 0.5em !important;

    cursor: pointer !important;
    text-indent: 1px !important;
    border: none !important;

    color: #1e1914 !important;
    background: transparent !important;

}

textarea[data-v-1f361494][type="text"]
{
    width: 225px !important;
    height: 95px !important;

    resize: none !important;;
    cursor: pointer !important;
    text-align: left !important;
    text-indent: 1px !important;
    padding: 0 0 0 0.5em !important;

    border: none !important;
    outline: none !important;

    -webkit-appearance: none !important;
    -moz-appearance: none!important;

    word-break: break-all !important;

}

textarea[data-v-1f361494]
{
    width: 11em !important;
    font-family: inherit !important;
    font-size: 14px !important;

}
h4[data-v-1f361494]
{
    font-family: inherit !important;
}body[data-v-1f361494]
{
    margin: 0;
}.reservation[data-v-1f361494]
{
    font-family: inherit;

    z-index: 99999;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 90%;
    margin: 1em auto;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background-color: transparent;

    
}





.reservation[data-v-1f361494] a{
    text-transform: uppercase;
}

.reservation[data-v-1f361494] h2{
    text-transform: uppercase;
}

.reservation .reservation1[data-v-1f361494] h4{
    text-transform: uppercase;
}

.reservation .reservation2[data-v-1f361494] p{
    text-transform: uppercase;
}

.reservation .hint {
    display: flex;
    flex-flow: column;
    margin: 1em auto; 
    width: 100%; 
    text-align: center;
    
}
    .reservation .reservation1[data-v-1f361494]
{
    width: 100%;
    margin: auto;

    
}.reservation .reservation1 .envelope[data-v-1f361494]
{
    position: relative;
    margin: auto;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    
    justify-content: center;
}.reservation .reservation1 .envelope .exit[data-v-1f361494]
{
    position: absolute;
    top: .5em;
    right: 1em;;

    color: transparent;
}.reservation .reservation1 .envelope .header-center[data-v-1f361494]
{
     margin: 1em auto;

      height: fit-content;

      text-align: center; 

      color: #1f1a14;
}.reservation .reservation1 .envelope p[data-v-1f361494]
{
    width: 14em;
    margin: .5em auto 0;

    text-align: left;
}.reservation .reservation1 .envelope .opening-hours[data-v-1f361494]
{

    margin: 0 auto .5em auto;
}.reservation .reservation1 .envelope .people-form[data-v-1f361494]
{
    width: 100%;
    margin: auto;
    display: grid;

    grid-template-rows: auto auto auto auto  auto auto auto;

    justify-content: center;
    justify-items: center;
}.reservation .reservation1 .envelope .people-form .form-element[data-v-1f361494]
{
    position: relative;

      width: 225px;
      height: 32px;

      margin: auto auto 1em auto;

      border: 1px solid #1f1a14;
      border-radius: 0;
      background: transparent; 
}.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494],
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494],
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494],
.reservation .reservation1 .envelope .people-form .form-element textarea[data-v-1f361494]
{
  font-family: inherit!important;
  font-size: 16px;

  
  cursor: pointer;
  text-indent: 1px;

  border: none !important;
  outline: none !important;
  background: transparent;
  z-index: 2;

  -webkit-appearance: none;
     -moz-appearance: none;
}.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494]::placeholder,
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494]::placeholder,
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494]::placeholder
{
    color: #000;
}.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494]::-webkit-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494]::-webkit-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494]::-webkit-input-placeholder
{
    color: #000;
}.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494]:-moz-placeholder,
.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494]::-moz-placeholder,
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494]:-moz-placeholder,
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494]::-moz-placeholder,
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494]:-moz-placeholder,
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494]::-moz-placeholder
{
    opacity: 1;;
    color: #000;
}.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494]:-ms-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element flat-pickr[data-v-1f361494]::-ms-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494]:-ms-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element input[data-v-1f361494]::-ms-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494]:-ms-input-placeholder,
.reservation .reservation1 .envelope .people-form .form-element select[data-v-1f361494]::-ms-input-placeholder
{
    color: #000;
}.reservation .reservation1 .envelope .people-form .form-element .book-icon[data-v-1f361494]
{
  position: absolute;
  right: 0.3em;
  top: 6px;


  background: transparent;
  z-index:1;
}.reservation .reservation1 .envelope .people-form canvas[data-v-1f361494]
{
    border: none;
}.reservation .reservation1 .envelope .people-form .c0ffee-button[data-v-1f361494]
{
    display: inline-block;

    height: 30%;
}.reservation .reservation1 .envelope .people-form .c0ffee-button a[data-v-1f361494]
{
    position: relative;

    display: inline-block;

    margin: 1em 0;
    padding: .5em 0;

    cursor: pointer;
    text-align: center;
}.reservation .reservation1 .envelope .people-form .c0ffee-button a h4[data-v-1f361494]
{
    margin: auto;
}.reservation .reservation1 .envelope .people-form .c0ffee-button .c0ffee-button-skin[data-v-1f361494],
.reservation .reservation1 .envelope .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494]
{
    width: 14em;;

    text-decoration: none;

    color: #000;

    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--trem-main-color);
}.reservation .reservation1 .envelope .people-form .c0ffee-button .c0ffee-button-skin[data-v-1f361494]:hover,
.reservation .reservation1 .envelope .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation1 .reservation2 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation1 .reservation2 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494]:hover
{
    color: #fff;
    border: 2px solid transparent;
    background: #1f1a14;
}.reservation .reservation1 .envelope .people-form .c0ffee-button .c0ffee-button-skin:hover h4[data-v-1f361494],
.reservation .reservation1 .envelope .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .grid-container .info-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .grid-container .input-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .info-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .input-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .info-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .input-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .info-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .input-form .c0ffee-button a:hover h4[data-v-1f361494]
{
    color: #fff;
}.reservation .reservation2[data-v-1f361494]
{
    width: 100%;
    margin: auto;


}.reservation .reservation2 .envelope[data-v-1f361494]
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}.reservation .reservation2 .envelope h4[data-v-1f361494]
{
    color: #1f1a14;
}.reservation .reservation2 .envelope .header-center[data-v-1f361494]
{
    margin: 1em auto;

    color: #1f1a14;
}.reservation .reservation2 .envelope .grid-container[data-v-1f361494]
{
    display: grid;

    grid-template-columns: 14em 14em;
    grid-column-gap: 6em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}.reservation .reservation2 .envelope .grid-container .info-form[data-v-1f361494]
{
    display: grid;

    grid-template-rows: 35px 35px 35px 35px 35px 35px 100px;
    grid-row-gap: 5px;
    -ms-flex-line-pack: start;
    align-content: start;
    justify-items: start;
}.reservation .reservation2 .envelope .grid-container .info-form .form-element[data-v-1f361494]
{
    display: grid;

    grid-template-columns: 7em 7em;
    justify-items: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}.reservation .reservation2 .envelope .grid-container .info-form .form-element h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .form-element p[data-v-1f361494]
{
    margin: 0;
}.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button[data-v-1f361494]
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button a[data-v-1f361494]
{
    position: relative;

    display: inline-block;

    width: 14em;
    height: 20px;
    margin: 0;
    padding: .5em 0;

    cursor: pointer;
    text-align: center;
}.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button a h4[data-v-1f361494]
{
    margin: auto;
}.reservation .reservation1 .reservation2 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button .c0ffee-button-skin[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .input-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .info-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494]
{
    text-decoration: none;

    color: #000;
    border: none;
    border-radius: 5px;;
    background-color: rgba(30,25,20,.2);
}.reservation .reservation1 .reservation2 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button .c0ffee-button-skin[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .info-form .input-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .input-form .info-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .grid-container .info-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .info-form .c0ffee-button a[data-v-1f361494]:hover
{
    color: #fff;
    border: none;
    background: #1f1a14;
}.reservation .reservation1 .reservation2 .envelope .grid-container .info-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .info-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button .c0ffee-button-skin:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .input-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .info-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .info-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .info-form .c0ffee-button a:hover h4[data-v-1f361494]
{
    color: #fff;
}.reservation .reservation2 .envelope .grid-container .input-form[data-v-1f361494]
{
    display: grid;

    grid-template-rows: 35px 35px 35px 115px 100px;
    grid-row-gap: 5px;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element[data-v-1f361494]
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 14em;
    height: 30px;;

    border: 1px solid #1f1a14;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]
{
    width: 180px;
    height: 28px;

    font-size: 14px;

    cursor: pointer;
    text-align: left;
    text-indent: 2em;

    border: none;;
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::placeholder
{
    font-style: italic;;

    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::-webkit-input-placeholder
{
    font-style: italic;;

    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]:-moz-placeholder,
.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::-moz-placeholder
{
    font-style: italic;

    opacity: 1;;
    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]:-ms-input-placeholder,
.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::-ms-input-placeholder
{
    font-style: italic;;

    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element .icon[data-v-1f361494]
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 2em;
    height: 30px;
    margin: 0 0.3em 0 auto;

    background: transparent;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}.reservation .reservation2 .envelope .grid-container .input-form .input-element .icon i[data-v-1f361494]
{
    margin: auto;
}.reservation .reservation2 .envelope .grid-container .input-form .message[data-v-1f361494]
{
    height: 100px;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]
{
    width: 14em;
    height: 95px;

    font-size: 14px !important;

    resize: none;;
    cursor: pointer;
    text-align: left;
    text-indent: 2em;

    border: none;
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
}.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::placeholder
{
    font-style: italic;;

    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::-webkit-input-placeholder
{
    font-style: italic;;

    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]:-moz-placeholder,
.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::-moz-placeholder
{
    font-style: italic;

    opacity: 1;;
    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]:-ms-input-placeholder,
.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::-ms-input-placeholder
{
    font-style: italic;;

    color: #000;
}.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button[data-v-1f361494]
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button a[data-v-1f361494]
{
    position: relative;

    display: inline-block;

    width: 14em;
    height: 20px;
    margin: 0;
    padding: .5em 0;

    cursor: pointer;
    text-align: center;
}.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button a h4[data-v-1f361494]
{
    margin: auto;
}.reservation .reservation1 .reservation2 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .input-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button .c0ffee-button-skin[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .info-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494]
{
    text-decoration: none;

    color: #000;
    border-radius: 5px;;
    background: none;
    background: var(--trem-main-color);
}.reservation .reservation1 .reservation2 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .info-form .input-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button .c0ffee-button-skin[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .envelope .grid-container .input-form .info-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .grid-container .input-form .people-form .c0ffee-button a[data-v-1f361494]:hover,
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .input-form .c0ffee-button a[data-v-1f361494]:hover
{
    color: #fff;
    background: #1f1a14;
}.reservation .reservation1 .reservation2 .envelope .grid-container .input-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation1 .reservation2 .envelope .people-form .grid-container .input-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .info-form .input-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button .c0ffee-button-skin:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .envelope .grid-container .input-form .info-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .grid-container .input-form .people-form .c0ffee-button a:hover h4[data-v-1f361494],
.reservation .reservation2 .reservation1 .envelope .people-form .grid-container .input-form .c0ffee-button a:hover h4[data-v-1f361494]
{
    color: #fff;
}.reservation .fade-enter-active[data-v-1f361494],
.reservation .fade-leave-active[data-v-1f361494]
{
    transition: opacity .5s;
}.reservation .fade-enter[data-v-1f361494],
.reservation .fade-leave-to[data-v-1f361494]
{
    opacity: 0;
}.reservation .reservation3[data-v-1f361494]
{
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;

    width: 40%;
    max-width: 500px;
    height: 40%;
    max-height: 400px;
    margin: auto;;

    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

    border: 2px solid #5e5448;
    border-radius: 10px;
    background: #fff;
}.reservation .reservation3 .confirmation[data-v-1f361494],
.reservation .reservation3[data-v-1f361494]
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}.reservation .reservation3 .confirmation[data-v-1f361494]
{
    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
}.reservation .reservation3 .confirmation h2[data-v-1f361494]
{
    font-family: inherit;
    font-weight: 400;

    margin: 1em auto auto;
}.reservation .reservation3 .confirmation hr[data-v-1f361494]
{
    width: 70%;
    margin: 2em auto auto;;

    border-top: 3px solid #8e8c89;
}
    input[data-v-1f361494],
    p[data-v-1f361494],
    select[data-v-1f361494]
    {
        font-family: inherit;
    }.reservation[data-v-1f361494]
    {
        z-index: 99999;;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        margin: 1em auto;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .reservation .reservation2[data-v-1f361494]
    {
        width: 100%;
        margin: auto;

    }.reservation .reservation2 .envelope[data-v-1f361494]
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 100%;
        height: 100%;
        
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }.reservation .reservation2 .envelope h4[data-v-1f361494]
    {
        color: #1f1a14;
    }.reservation .reservation2 .envelope .header-center[data-v-1f361494]
    {
        margin: 1em auto;

        color: #1f1a14;
    }.reservation .reservation2 .envelope .grid-container[data-v-1f361494]
    {
        display: grid;

        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }.reservation .reservation2 .envelope .grid-container .info-form[data-v-1f361494]
    {
        display: grid;

        grid-template-rows: 35px 35px 35px 35px 35px 35px 70px;
        grid-row-gap: 5px;
        -ms-flex-line-pack: start;
        align-content: start;
        justify-items: center;
    }.reservation .reservation2 .envelope .grid-container .info-form .form-element[data-v-1f361494]
    {
        display: grid;

        grid-template-columns: 120px 120px;
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }.reservation .reservation2 .envelope .grid-container .info-form .form-element h4[data-v-1f361494],
    .reservation .reservation2 .envelope .grid-container .info-form .form-element p[data-v-1f361494]
    {
        margin: 0;
    }.reservation .reservation2 .envelope .grid-container .input-form[data-v-1f361494]
    {
        display: grid;
        
        grid-template-rows: 35px 35px 35px 115px 70px;
        grid-row-gap: 5px;
        justify-items: center;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element[data-v-1f361494]
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 14em;
        height: 30px;;

        border: 1px solid #1f1a14;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        overflow: hidden;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]
    {
        width: 100% !important;
        height: 28px;

        cursor: pointer;
        text-align: left;
        text-indent: 2em;

        border: none;;
        outline: none;

        -webkit-appearance: none;
           -moz-appearance: none;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::placeholder
    {
        font-style: italic;;

        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::-webkit-input-placeholder
    {
        font-style: italic;;

        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]:-moz-placeholder,
    .reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::-moz-placeholder
    {
        font-style: italic;

        opacity: 1;;
        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]:-ms-input-placeholder,
    .reservation .reservation2 .envelope .grid-container .input-form .input-element input[data-v-1f361494]::-ms-input-placeholder
    {
        font-style: italic;;

        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element .icon[data-v-1f361494]
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: 2em;
        height: 30px;
        margin: 0 0.3em 0 auto;

        background: transparent;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }.reservation .reservation2 .envelope .grid-container .input-form .input-element .icon i[data-v-1f361494]
    {
        margin: auto;
    }.reservation .reservation2 .envelope .grid-container .input-form .message[data-v-1f361494]
    {
        height: 100px;

        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]
    {
        padding-top: 5px !important;

        width: 14em;
        height: 95px;

        resize: none;;
        cursor: pointer;
        text-align: left;
        text-indent: 2em;

        border: none;
        outline: none;

        background-color: transparent;

        -webkit-appearance: none;
           -moz-appearance: none;
    }.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::placeholder
    {
        font-style: italic;;

        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::-webkit-input-placeholder
    {
        font-style: italic;;

        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]:-moz-placeholder,
    .reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::-moz-placeholder
    {
        font-style: italic;

        opacity: 1;;
        color: #000;
    }.reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]:-ms-input-placeholder,
    .reservation .reservation2 .envelope .grid-container .input-form .message textarea[data-v-1f361494]::-ms-input-placeholder
    {
        font-style: italic;;

        color: #000;
    }.reservation .reservation3[data-v-1f361494]
    {
        position: fixed;
        z-index: 999999;
        top: 50%;
        left: 50%;

        width: 60%;
        max-width: 320px;
        height: 60%;
        max-height: 400px;
        margin: auto;;

        border: 4px solid #5e5448;
        border-radius: 10px;
        background: transparent;
    }.reservation .reservation3 .confirmation[data-v-1f361494],
    .reservation .reservation3[data-v-1f361494]
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }.reservation .reservation3 .confirmation[data-v-1f361494]
    {
        z-index: 9999999;

        visibility: visible;;

        text-align: center;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    }.reservation .reservation3 .confirmation h2[data-v-1f361494]
    {
        font-family: inherit;
        font-weight: 400;

        z-index: 99999999;

        margin: 1em auto auto;
    }.reservation .reservation3 .confirmation hr[data-v-1f361494]
    {
        display: none;
        z-index: 99999999;

        width: 70%;
        margin: 2em auto auto;;

        border-top: 3px solid #8e8c89;
    }
.flatpickr-calendar
{
    font-size: 14px;
    line-height: 24px;

    position: absolute;

    visibility: hidden;
    overflow: hidden;

    box-sizing: border-box;
    width: 307.875px;
    max-height: 0;
    padding: 0;

    -webkit-animation: none;
            animation: none;
    text-align: center;

    opacity: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
    background: #fff;
    box-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,.08);;

    direction: ltr;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}.flatpickr-calendar.inline,
.flatpickr-calendar.open
{
    visibility: visible;
    overflow: visible;

    max-height: 640px;;

    opacity: 1;
}

@media (max-width:400px)
{
    .flatpickr-calendar.open
    {
        left: 5px !important;
    }

}

.flatpickr-calendar.open
{
    z-index: 99999;;

    display: inline-block;
}.flatpickr-calendar.animate.open
{
    -webkit-animation: fpFadeInDown .3s cubic-bezier(.23,1,.32,1);
            animation: fpFadeInDown .3s cubic-bezier(.23,1,.32,1);
}.flatpickr-calendar.inline
{
    position: relative;
    top: 2px;;

    display: block;
}.flatpickr-calendar.static
{
    position: absolute;
    top: calc(100% + 2px);
}.flatpickr-calendar.static.open
{
    z-index: 999;

    display: block;
}.flatpickr-calendar.hasWeeks
{
    width: auto;
}.flatpickr-calendar .hasTime .dayContainer,
.flatpickr-calendar .hasWeeks .dayContainer
{
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}.flatpickr-calendar .hasWeeks .dayContainer
{
    border-left: 0;
}.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time
{
    height: 40px;

    border-top: 1px solid #e6e6e6;
}.flatpickr-calendar.noCalendar.hasTime .flatpickr-time
{
    height: auto;
}.flatpickr-calendar:after,
.flatpickr-calendar:before
{
    position: absolute;
    left: 22px;;

    display: block;

    width: 0;
    height: 0;

    content: '';
    pointer-events: none;

    border: solid transparent;
}.flatpickr-calendar.rightMost:after,
.flatpickr-calendar.rightMost:before
{
    right: 22px;;
    left: auto;
}.flatpickr-calendar:before
{
    margin: 0 -5px;;

    border-width: 5px;
}.flatpickr-calendar:after
{
    margin: 0 -4px;;

    border-width: 4px;
}.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before
{
    bottom: 100%;
}.flatpickr-calendar.arrowTop:before
{
    border-bottom-color: #e6e6e6;
}.flatpickr-calendar.arrowTop:after
{
    border-bottom-color: #fff;
}.flatpickr-calendar.arrowBottom:after,
.flatpickr-calendar.arrowBottom:before
{
    top: 100%;
}.flatpickr-calendar.arrowBottom:before
{
    border-top-color: #e6e6e6;
}.flatpickr-calendar.arrowBottom:after
{
    border-top-color: #fff;
}.flatpickr-calendar:focus
{
    outline: 0;
}.flatpickr-wrapper
{
    position: relative;

    display: inline-block;
}.flatpickr-month
{
    line-height: 1;

    position: relative;

    overflow: hidden;;

    height: 48px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;

    color: rgba(0,0,0,.9);
    background: transparent;

    fill: rgba(0,0,0,.9);
}.flatpickr-next-month,
.flatpickr-prev-month
{
    line-height: 16px;

    position: absolute;
    z-index: 3;;
    top: 0;

    height: 28px;
    padding: 10px calc(3.57% - 1.5px);

    cursor: pointer;
    text-decoration: none;
}.flatpickr-next-month i,
.flatpickr-prev-month i
{
    position: relative;
}.flatpickr-next-month.flatpickr-prev-month,
.flatpickr-prev-month.flatpickr-prev-month
{
    left: 0;
}.flatpickr-next-month.flatpickr-next-month,
.flatpickr-prev-month.flatpickr-next-month
{
    right: 0;
}.flatpickr-next-month:hover,
.flatpickr-prev-month:hover
{
    color: #959ea9;
}.flatpickr-next-month:hover svg,
.flatpickr-prev-month:hover svg
{
    fill: #f64747;
}.flatpickr-next-month svg,
.flatpickr-prev-month svg
{
    width: 14px;
}.flatpickr-next-month svg path,
.flatpickr-prev-month svg path
{
    transition: fill .1s;

    fill: inherit;
}.numInputWrapper
{
    position: relative;

    height: auto;
}.numInputWrapper input,
.numInputWrapper span
{
    display: inline-block;
}.numInputWrapper input
{
    width: 100%;
}.numInputWrapper span
{
    line-height: 50%;

    position: absolute;
    right: 0;

    box-sizing: border-box;;
    width: 14px;
    height: 50%;
    padding: 0 4px 0 2px;

    cursor: pointer;

    opacity: 0;
    border: 1px solid rgba(57,57,57,.05);
}.numInputWrapper span:hover
{
    background: rgba(0,0,0,.1);
}.numInputWrapper span:active
{
    background: rgba(0,0,0,.2);
}.numInputWrapper span:after
{
    position: absolute;
    top: 33%;;

    display: block;

    content: '';
}.numInputWrapper span.arrowUp
{
    top: 0;

    border-bottom: 0;
}.numInputWrapper span.arrowUp:after
{
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(57,57,57,.6);;
    border-left: 4px solid transparent;
}.numInputWrapper span.arrowDown
{
    top: 50%;
}.numInputWrapper span.arrowDown:after
{
    border-top: 4px solid rgba(57,57,57,.6);;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}.numInputWrapper span svg
{
    width: inherit;
    height: auto;
}.numInputWrapper span svg path
{
    fill: rgba(0,0,0,.5);
}.numInputWrapper:hover
{
    background: rgba(0,0,0,.05);
}.numInputWrapper:hover span
{
    opacity: 1;
}.flatpickr-current-month
{
    font-size: 135%;
    font-weight: 300;
    line-height: inherit;
    line-height: 1;

    position: absolute;
    left: 12.5%;

    display: inline-block;

    width: 75%;
    height: 28px;
    padding: 6.16px 0 0;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);;
    text-align: center;

    color: inherit;
}.flatpickr-current-month.slideLeft
{
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
    -webkit-animation: fpFadeOut .4s ease,fpSlideLeft .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeOut .4s ease,fpSlideLeft .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-current-month.slideLeftNew
{
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
    -webkit-animation: fpFadeIn .4s ease,fpSlideLeftNew .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeIn .4s ease,fpSlideLeftNew .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-current-month.slideRight
{
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
    -webkit-animation: fpFadeOut .4s ease,fpSlideRight .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeOut .4s ease,fpSlideRight .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-current-month.slideRightNew
{
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation: fpFadeIn .4s ease,fpSlideRightNew .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeIn .4s ease,fpSlideRightNew .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-current-month span.cur-month
{
    font-family: inherit;
    font-weight: 700;

    display: inline-block;

    margin-left: .5ch;
    padding: 0;;

    color: inherit;
}.flatpickr-current-month span.cur-month:hover
{
    background: rgba(0,0,0,.05);
}.flatpickr-current-month .numInputWrapper
{
    display: inline-block;;

    width: 6ch;
    width: 7ch\0;
}.flatpickr-current-month .numInputWrapper span.arrowUp:after
{
    border-bottom-color: rgba(0,0,0,.9);
}.flatpickr-current-month .numInputWrapper span.arrowDown:after
{
    border-top-color: rgba(0,0,0,.9);
}.flatpickr-current-month input.cur-year
{
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;

    display: inline-block;

    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0 0 0 .5ch;

    cursor: default;
    vertical-align: initial;;

    color: inherit;
    border: 0;
    border-radius: 0;
    background: transparent;
}.flatpickr-current-month input.cur-year:focus
{
    outline: 0;
}.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover
{
    font-size: 100%;

    pointer-events: none;;

    color: rgba(0,0,0,.5);
    background: transparent;
}.flatpickr-weekdays
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    width: 100%;
    height: 28px;;

    text-align: center;

    background: transparent;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}span.flatpickr-weekday
{
    font-size: 90%;
    font-weight: bolder;;
    line-height: 1;

    display: block;

    margin: 0;

    cursor: default;
    text-align: center;

    color: rgba(0,0,0,.54);
    background: transparent;

    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}.dayContainer,
.flatpickr-weeks
{
    padding: 1px 0 0;
}.flatpickr-days
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    width: 307.875px;
}.flatpickr-days:focus
{
    outline: 0;
}.dayContainer
{
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

    box-sizing: border-box;
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
    padding: 0;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    text-align: left;

    opacity: 1;;
    outline: 0;

        flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-around;
}.flatpickr-calendar.animate .dayContainer.slideLeft
{
    -webkit-animation: fpFadeOut .4s cubic-bezier(.23,1,.32,1),fpSlideLeft .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeOut .4s cubic-bezier(.23,1,.32,1),fpSlideLeft .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-calendar.animate .dayContainer.slideLeft,
.flatpickr-calendar.animate .dayContainer.slideLeftNew
{
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}.flatpickr-calendar.animate .dayContainer.slideLeftNew
{
    -webkit-animation: fpFadeIn .4s cubic-bezier(.23,1,.32,1),fpSlideLeft .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeIn .4s cubic-bezier(.23,1,.32,1),fpSlideLeft .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-calendar.animate .dayContainer.slideRight
{
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);;
    -webkit-animation: fpFadeOut .4s cubic-bezier(.23,1,.32,1),fpSlideRight .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeOut .4s cubic-bezier(.23,1,.32,1),fpSlideRight .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-calendar.animate .dayContainer.slideRightNew
{
    -webkit-animation: fpFadeIn .4s cubic-bezier(.23,1,.32,1),fpSlideRightNew .4s cubic-bezier(.23,1,.32,1);
            animation: fpFadeIn .4s cubic-bezier(.23,1,.32,1),fpSlideRightNew .4s cubic-bezier(.23,1,.32,1);
}.flatpickr-day
{
    font-weight: 400;
    line-height: 39px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 14.2857143%;
    max-width: 39px;
    height: 39px;
    margin: 0;

    cursor: pointer;
    text-align: center;;

    color: #393939;
    border: 1px solid transparent;
    border-radius: 150px;
    background: none;

    -ms-flex-preferred-size: 14.2857143%;
    flex-basis: 14.2857143%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.today.inRange,
.flatpickr-day:focus,
.flatpickr-day:hover
{
    cursor: pointer;

    border-color: #e6e6e6;;
    outline: 0;
    background: #e6e6e6;
}.flatpickr-day.today
{
    border-color: #959ea9;
}.flatpickr-day.today:focus,
.flatpickr-day.today:hover
{
    color: #fff;;
    border-color: #959ea9;
    background: #959ea9;
}.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover
{
    color: #fff;
    border-color: #569ff7;;
    background: #569ff7;
    box-shadow: none;
}.flatpickr-day.endRange.startRange,
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange
{
    border-radius: 50px 0 0 50px;
}.flatpickr-day.endRange.endRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange
{
    border-radius: 0 50px 50px 0;
}.flatpickr-day.endRange.startRange + .endRange,
.flatpickr-day.selected.startRange + .endRange,
.flatpickr-day.startRange.startRange + .endRange
{
    box-shadow: -10px 0 0 #569ff7;
}.flatpickr-day.endRange.startRange.endRange,
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange
{
    border-radius: 50px;
}.flatpickr-day.inRange
{
    border-radius: 0;
    box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
}.flatpickr-day.disabled,
.flatpickr-day.disabled:hover
{
    pointer-events: none;
}.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay
{
    cursor: default;;

    color: rgba(57,57,57,.3);
    border-color: transparent;
    background: transparent;
}.flatpickr-day.week.selected
{
    border-radius: 0;
    box-shadow: -5px 0 0 #569ff7,5px 0 0 #569ff7;
}.rangeMode .flatpickr-day
{
    margin-top: 1px;
}.flatpickr-weekwrapper
{
    display: inline-block;
    float: left;
}.flatpickr-weekwrapper .flatpickr-weeks
{
    padding: 0 12px;

    box-shadow: 1px 0 0 #e6e6e6;
}.flatpickr-weekwrapper .flatpickr-weekday
{
    line-height: 28px;;

    float: none;

    width: 100%;
}.flatpickr-weekwrapper span.flatpickr-day
{
    display: block;

    width: 100%;
    max-width: none;
}.flatpickr-innerContainer
{
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}.flatpickr-innerContainer,
.flatpickr-rContainer
{
    box-sizing: border-box;
}.flatpickr-rContainer
{
    display: inline-block;

    padding: 0;
}.flatpickr-time
{
    line-height: 40px;

    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    overflow: hidden;

    box-sizing: border-box;
    height: 0;
    max-height: 40px;

    text-align: center;

    outline: 0;
}.flatpickr-time:after
{
    display: table;
    clear: both;;

    content: '';
}.flatpickr-time .numInputWrapper
{
    float: left;;

    width: 40%;
    height: 40px;

    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}.flatpickr-time .numInputWrapper span.arrowUp:after
{
    border-bottom-color: #393939;
}.flatpickr-time .numInputWrapper span.arrowDown:after
{
    border-top-color: #393939;
}.flatpickr-time.hasSeconds .numInputWrapper
{
    width: 26%;
}.flatpickr-time.time24hr .numInputWrapper
{
    width: 49%;
}.flatpickr-time input
{
    font-size: 14px;
    line-height: inherit;

    position: relative;

    box-sizing: border-box;;
    height: inherit;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #393939;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}.flatpickr-time input.flatpickr-hour
{
    font-weight: 700;
}.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second
{
    font-weight: 400;
}.flatpickr-time input:focus
{
    border: 0;;
    outline: 0;
}.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-time-separator
{
    font-weight: 700;
    line-height: inherit;

    display: inline-block;
    float: left;

    width: 2%;
    height: inherit;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #393939;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
}.flatpickr-time .flatpickr-am-pm
{
    font-weight: 400;;

    width: 18%;

    cursor: pointer;
    text-align: center;

    outline: 0;
}.flatpickr-time .flatpickr-am-pm:focus,
.flatpickr-time .flatpickr-am-pm:hover
{
    background: #f0f0f0;
}.flatpickr-input[readonly]
{
    cursor: pointer;
}@-webkit-keyframes fpFadeInDown
{
    0%
    {
        -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);;

        opacity: 0;
    }to
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);;

        opacity: 1;
    }
}@keyframes fpFadeInDown
{
    0%
    {
        -webkit-transform: translate3d(0,-20px,0);
                transform: translate3d(0,-20px,0);;

        opacity: 0;
    }to
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);;

        opacity: 1;
    }
}@-webkit-keyframes fpSlideLeft
{
    0%
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }to
    {
        -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
    }
}@keyframes fpSlideLeft
{
    0%
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }to
    {
        -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
    }
}@-webkit-keyframes fpSlideLeftNew
{
    0%
    {
        -webkit-transform: translate3d(100%,0,0);
                transform: translate3d(100%,0,0);
    }to
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
}@keyframes fpSlideLeftNew
{
    0%
    {
        -webkit-transform: translate3d(100%,0,0);
                transform: translate3d(100%,0,0);
    }to
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
}@-webkit-keyframes fpSlideRight
{
    0%
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }to
    {
        -webkit-transform: translate3d(100%,0,0);
                transform: translate3d(100%,0,0);
    }
}@keyframes fpSlideRight
{
    0%
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }to
    {
        -webkit-transform: translate3d(100%,0,0);
                transform: translate3d(100%,0,0);
    }
}@-webkit-keyframes fpSlideRightNew
{
    0%
    {
        -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
    }to
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
}@keyframes fpSlideRightNew
{
    0%
    {
        -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
    }to
    {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
    }
}@-webkit-keyframes fpFadeOut
{
    0%
    {
        opacity: 1;
    }to
    {
        opacity: 0;
    }
}@keyframes fpFadeOut
{
    0%
    {
        opacity: 1;
    }to
    {
        opacity: 0;
    }
}@-webkit-keyframes fpFadeIn
{
    0%
    {
        opacity: 0;
    }to
    {
        opacity: 1;
    }
}@keyframes fpFadeIn
{
    0%
    {
        opacity: 0;
    }to
    {
        opacity: 1;
    }
}
